<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jx.vhr.mapper.MailSendLogMapper">

    <resultMap type="org.jx.vhr.model.MailSendLog" id="MailSendLogMap">
        <result property="msgid" column="msgId" jdbcType="VARCHAR"/>
        <result property="empid" column="empId" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="routekey" column="routeKey" jdbcType="VARCHAR"/>
        <result property="exchange" column="exchange" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="trytime" column="tryTime" jdbcType="VARCHAR"/>
        <result property="createtime" column="createTime" jdbcType="VARCHAR"/>
        <result property="updatetime" column="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getMailSendLogsByStatus" resultMap="MailSendLogMap">
        select msgId,
               empId,
               status,
               routeKey,
               exchange,
               count,
               tryTime,
               createTime,
               updateTime
        from vhr.mail_send_log
        where status=0 and tryTime &lt; sysdate()
    </select>

    <insert id="insert" parameterType="org.jx.vhr.model.MailSendLog">
        insert into vhr.mail_send_log(msgId, empId, status, routeKey, exchange, count, tryTime, createTime, updateTime)
        values (#{msgid}, #{empid}, #{status}, #{routekey}, #{exchange}, #{count}, #{trytime}, #{createtime},
                #{updatetime})
    </insert>

    <update id="updateMailSendLogStatus">
        update vhr.mail_send_log
        set status = #{status} where msgId=#{msgId};
    </update>
    <update id="updateCount">
        update mail_send_log set count=count+1,updateTime=#{date} where msgId=#{msgId};
    </update>

</mapper>

